.loading-wrapper {
	font-size: 23px;
	font-weight: 400;
	padding: 9px 0 4px 0;
	line-height: 29px;
	margin-right:10px;
	float:left;
}

.info-container .loading-wrapper {
	position: absolute;
	top:0;
	right:10px;
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
}

.wpiab-outer-wrap {
	position: relative;
	width:100%;
	height:600px;
}

.network_browser_tree_container {
	position:absolute;
	overflow: auto;
	top: 36px;
	bottom: 0;
	left: 0px;
	right: 0px;
	height:500px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.row {
	position:relative;
}

.col-6 {
	width:50%;
	position: relative;
	float:left;
}

.info-containers {
	float: left;
	margin-left: 10%;
	width:502px;
}

.info-container {
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	position:relative;
}



.info-container .title {
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
	border-bottom: 1px solid #eee;
}

.info-container .inside {
	clear:both;
	line-height: 1.4em;
	font-size: 13px;
	margin: 11px 0 0 0;
}

.info-container .inside form {
	padding: 0 12px 12px;
}

.info-container .inputs label {
	display: block;
	font-weight: bold;
}

.info-container .inputs input {
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	-webkit-transition: 50ms border-color ease-in-out;
	transition: 50ms border-color ease-in-out;
	width:100%;
}

.info-container .inside input.title {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: 0;
	margin: 0 0 3px;
	background-color: #fff;
}

.info-container .inside .wpiab-full-width {
	width:100%;
}

#site-info-container {
	margin-top:25px;
	overflow: hidden;
}

.site-info-plot {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:25px;
}

.site-info-content-block {
	width:21%;
	float:left;
	color:#fff;
	padding: 10px;
}

.font-white {
	color:#fff!important;
}

.font-blue {
	color:#0073aa!important;
}

.font-green {
	color: #9CD159!important;
}

.font-new {
	color:#0073aa!important;
}

.font-in-progress {
	color:#23282d;!important;
}

.font-in-review {
	color:#984DFF !important;
}

.font-complete {
	color: #12aa1b !important;
}

.bg-new {
	background-color:#0073aa!important;
}

.bg-in-progress {
	background-color:#23282d;!important;
}

.bg-in-review {
	background-color:#984DFF !important;
}

.bg-complete {
	background-color: #12aa1b !important;
}

.glyph-icon {
	font-size: 20px!important;
}

.glyph-icon:before {
	background: 0 0;
	width: auto;
	height: auto;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	display: inline-block;
	text-decoration: none;
}

.icon-file:before {
	content: '\f0d6';
}

.jstree-open > a > .jstree-icon.fa-folder:before {
	content:'\f07c' !important;
}


.jstree-default-large .jstree-icon{width:32px;height:32px;line-height:32px}